@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}