.why {
  padding: 3em 0;
  .h2 {
    font-weight: 200;
  }
  .icons {
    padding: 2em 0;
    
    [class*=container] {
      position: relative;
      &:before {
        content: '';
        width: 80%;
        height: 2px;
        background: rgb(207, 209, 214);
        position: absolute;
        z-index: 0;
        top: 25%;
        left: 10%;
      }
    }

    [class*=cardWithIcon] {
      align-items: center;
      padding: 10px;
      background: #fff;

      .icon {
        height: 130px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #ccc;
      }
      .title {
        margin: 15px 0 0;
        .h4 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          text-align: center;
        }
      }
      .description {
        text-align: center;
        .span {
          font-size: 14px;
        }
      }
    }
  }
}

.services {
  background: #efefef;
  padding: 3em 0;

  .h2 {
    margin: 0 0 1em;
    font-weight: 200;
  }

  [class*=cardWithIcon] {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    align-items: center;
    .icon {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #eee;
      border-radius: 60px;
    }
    .title {
      margin: 15px 0;

      .h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    .description {
      text-align: center;
      .span {
        font-size: 14px;
        color: rgb(128, 134, 138);
      }
    }
  }
  .line {
    display: block;
    height: 30px;
    width: 100%;
  }
}

.socials {
  .h2 {
    color: #242d4c;
    margin: 2em 0;
    font-weight: 200;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 70px;
      height: 70px;
      background: #b1b1b1;
      border-radius: 70px;
      margin: 5px 20px;
    }
    .h4 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: #b1b1b1;
      letter-spacing: 2px;
    }
  }
}
.whoTitle {
  background: #1c2236;
  .h2 {
    color: #fff;
    font-size: 34px;
    font-weight: 200;
    text-align: center;
    padding: 1em;
    margin: 0;
  }
}

.whoItems {
  background: #242d4c;
  .list {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      padding: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 200px;
      justify-content: center;
      .p {
        color: #fff;
        margin: 0 0 20px;
        text-transform: uppercase;
      }
      .icon {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 40px;
      }
    }
  }

}

.challenger {
  padding: 3em 0;
  .h2 {
    text-align: center;
    color: #242d4c;
    text-transform: uppercase;
    font-size: 34px;
  }
  .challengerList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .item {
      width: 570px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .image {
        width: 350px;
        height: 350px;
        background: #eee;
        border-radius: 350px;
        margin: 0 auto;
      }
      .text {
        text-align: center;
        padding: 20px 0;
      }
    }
  }

  [class*=slick-track] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  [class*=slick-slider] {
    width: 100%;
    [class*=slick-slide] {
      opacity: 0;
      transition: all .3s;
    }
    [class*=slick-active] {
      opacity: .5;
      .text {
        opacity: 0;
        transition: all .2s;
        height: 0px;
      }
      .image {
        width: 200px;
        height: 200px;
      }
    }
    [class*=slick-center] {
      opacity: 1;
      .text {
        opacity: 1;
        height: auto;
      }
      .image {
        width: 360px;
        height: 360px;
      }
    }
  }
  [class*=slick-arrow] {
    background: transparent;
    width: 50px;
    height: 50px;
    right: -50px;
    &[class*=slick-prev] {
      left: -50px;
      &:before {
        content: '';
        width: 30px;
        height: 1px;
        background: #000;
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        top: 13px;
      }
      &:after {
        content: '';
        width: 30px;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        bottom: 15px;
      }
    }
    &:before {
      content: '';
      width: 30px;
      height: 1px;
      background: #000;
      display: block;
      transform: rotate(45deg);
      position: absolute;
      top: 13px;
    }
    &:after {
      content: '';
      width: 30px;
      height: 1px;
      background: #000;
      display: block;
      position: absolute;
      transform: rotate(-45deg);
      bottom: 15px;
    }

  }


  // [class*=BrainhubCarousel] {
  //   overflow: hidden;
  //   display: flex;
  //   align-items: center;
  //   [class*=BrainhubCarousel__trackContainer] {
  //     overflow: hidden;
  //   }
  //   [class*=BrainhubCarousel__track] {
  //     display: flex;
  //     overflow: hidden;
  //     list-style: none;
  //     margin: 0;
  //     padding: 0;
  //     &[class*=BrainhubCarousel__track--transition] {
  //       transition: transform;
  //     }
  //   }
  //   [class*=BrainhubCarousel__arrows] {
  //     cursor: pointer;
  //     position: relative;
  //     padding: 21px;
  //     border: none;
  //     overflow: hidden;
  //     outline: 0;
  //     font-size: 0;
  //     line-height: 0;
  //     background-color: #7b59ff;
  //     span {
  //       display: block;
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       border-style: solid;
  //       border-color: #fff;
  //       border-width: 3px 3px 0 0;
  //       padding: 5px;
  //       transition: .3s;
  //       font-size: 0;
  //       &:hover {
  //         background-color: #8768ff;
  //         span {
  //           border-color: #fff;
  //           margin: 0
  //         }
  //       }
  //     }
  //   }
  // }
  
  
  
  
  
  // [class*=BrainhubCarousel__dots] {
  //   display: flex;
  //   justify-content: center;
  //   list-style: none;
  //   margin: 0;
  //   padding: 0;
  //   font-size: 0;
  //   line-height: 0;
  
  //   [class*=BrainhubCarousel__dot] {
  //     outline: 0;
  //     padding: 10px;
  //     border: none;
  //     opacity: .5;
  //     cursor: pointer;
  
  //     &[class*=BrainhubCarousel__dot--selected] {
  //       opacity: 1 !important;
  //       &:hover {
  //         opacity: 1;
  //       }
  //       &:before {
  //         content: "";
  //         display: block;
  //         width: 5px;
  //         height: 5px;
  //         border-radius: 50%;
  //         padding: 0;
  //         border: none;
  //         background: #000;
  //       }
  //     }
  //   }
  // }
  // [class*=BrainhubCarousel__thumbnail] {
  //   outline: 0;
  //   padding: 10px;
  //   border: none;
  //   opacity: .5;
  //   cursor: pointer;
  //   &[class*=BrainhubCarousel__thumbnail--selected] {
  //     opacity: 1 !important;
  //     &:hover {
  //       opacity: 1;
  //     }
  //   }
  //   &[type=button] {
  //     -webkit-appearance: none;
  //   }
  // }
  
  // [class*=BrainhubCarousel__arrowLeft] {
  //   span {
  //     transform: translate(-50%,-50%) rotate(-135deg);
  //     margin-left: 2.45px
  //   }
  // }
  // [class*=BrainhubCarousel__arrowRight] {
  //   span {
  //     transform: translate(-50%,-50%) rotate(45deg);
  //     margin-left: -2.45px
  //   }
  // }
  
  // [class*=BrainhubCarouselItem] {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;
  
  //   [class*=BrainhubCarouselItem--clickable] {
  //     cursor: pointer
  //   }
  //   [class*=debug-number] {
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     display: -ms-flexbox;
  //     display: flex;
  //     -ms-flex-pack: center;
  //     justify-content: center;
  //     font-size: 2em;
  //     text-shadow: 0 0 9px #fff
  //   }
  // }

}