.about {
  height: 500px;
  background: #333
}

.socials {
  height: 500px;
  background: rgb(191, 193, 199)
}

.vehicle {
  height: 500px;
  background: #333
}

.contact {
  height: 500px;
  background: rgb(191, 193, 199)
}

.footer {
  height: 200px;
  background: rgb(223, 228, 231)
}